<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/app.min.css') }}"/>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <% if (conf.gulp) { %>
                <script src="http://127.0.0.1:<%= conf.ports.livereload %>/livereload.js?ext=Chrome&amp;extver=2.1.0"></script>
            <% } %>
        {% endblock %}
    </body>
</html>
